/* Message list height */
#threadTree > treechildren::-moz-tree-row {
  height: 35px !important;
}

/* Folder icons */
treechildren::-moz-tree-image(folderNameCol, isServer-true) {
  list-style-image: url("folder/circle-solid.svg") !important;
}
treechildren::-moz-tree-image(folderNameCol, isServer-true, serverType-none) {
  list-style-image: url("folder/circle-solid.svg") !important;
}
